.logo {
    height: 56px;
    margin: 2px 1em 0 0;
}

#loading {
    display: block;
    margin: 20vh auto;
    width: 48px;
    height: 48px;
}

.chart-card {
    justify-content: space-between;
}

/*.map-card {
    width: 96vw;
}*/
#map {
    width: 100%;
    height: 400px;
}

.stat {
    font-size: 6em;
    padding: 1rem;
    line-height: 1;
    color: #a0a0b0;
}

#time {
    margin-top: 3rem;
    text-align: center;
    font-size: 8vw;
    line-height: 1;
    font-weight: bold;
    color: #444;
}

.chart {
    margin: 0.5em 1.5em 0.5em 0.0em;
}

/*
 * Screen size adjustments
 */
@media (min-width: 600px) and (max-width: 840px) {
    .stat {
        font-size: 5em;
    }

    #time {
        font-size: 12vw;
    }
}
@media (max-width: 600px) {
    .stat {
        font-size: 4em;
    }

    #time {
        font-size: 20vw;
    }
}



/*
 * Fixes/Adjustments
 */
* {
    box-sizing: border-box;
}

.mdl-layout__header-row {
    padding: 0 40px 0 20px;
}

main {
    background-color: #eee;
    min-height: 100vh;
}

svg {
    overflow: visible !important;
}
